.header {
    -fx-background-color: #3b812e;
    -fx-padding: 3px 15px 3px 13px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-size: 17px;
    -fx-font-family: "Reem Kufi";
}

.header > .label {
    -fx-text-fill: white;
    -fx-font-size: 29px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Rounded MT Bold";
}

.tableStack {
    -fx-text-alignment: center;
    -fx-font-size: 17px;
    -fx-font-family: "Reem Kufi";
}

.view {
    -fx-padding: 15px;
}

.param {
    -fx-font-size: 17px;
}